<ion-range
  [class.inverted]="componentStore.startIsUpperKnob$ | async"
  [dualKnobs]="true"
  [value]="initialValue"
  [pin]="true"
  [pinFormatter]="pinFormatter"
  [min]="0"
  [max]="96"
  (ionChange)="onChange($event)"
  (ionKnobMoveStart)="onKnobMoveStart($event)"
  (ionKnobMoveEnd)="onKnobMoveEnd($event)"
>
  <ion-icon slot="start" color="primary" name="timer-outline"></ion-icon>
</ion-range>

<!--
TODO:
When a schedule is made that spans from before midnight to after midnight, the api caller must split that into
two timespans so no timespan includes 24 but only has is as max or min.
When reading two timespans that end and start midnight with the same change power, it can be seen as one
when presenting. Also it must be deleted as 2.
-->

<!--
TODO:
ActionGroupCreator -> https://dev.to/ngrx/ngrx-action-group-creator-1deh
-->
