<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="componentStore.scheduleEnabled$ | async">
    <ion-fab-button (click)="showAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schedule</ion-title>
      <ion-button slot="end" (click)="clear()" *ngIf="(componentStore.schedules$ | async).length > 1">
        <ion-icon name="close-outline"></ion-icon>
        Clear
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <!--Card schedules can not be used-->
  <ion-card *ngIf="componentStore.scheduleDisabled$ | async; else schedules">
    <ion-card-header>
      <ion-card-subtitle>Operating Mode</ion-card-subtitle>
      <ion-card-title class="card-title" color="primary">
        {{ componentStore.operatingMode$ | async | om }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        To set a schedule sonnenBatterie charge and discharge stop, the operation mode must be set to
        <ion-text color="primary">{{ OperatingMode.TimeOfUse | om }}</ion-text> - You can change the current operating
        mode under Settings.
      </p>
    </ion-card-content>
  </ion-card>

  <!--Schedules-->
  <ng-template #schedules>
    <ion-card *ngIf="(componentStore.schedules$ | async).length === 0">
      <ion-card-content class="ion-flex ion-align-items-center gap-2">
        <ion-icon class="icon" color="primary" name="timer-outline"></ion-icon>
        <div>
          You have no schedules setup. These can be setup to create periods where your battery charges from the grid or
          doesn't discharge.
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card
      class="ion-activatable"
      *ngFor="let schedule of componentStore.schedules$ | async"
      (click)="showEditModal(schedule)"
    >
      <ion-card-header>
        <ion-card-title>{{ schedule.start }} - {{ schedule.stop }}</ion-card-title>
        <ion-card-subtitle>
          <ng-container *ngIf="schedule.threshold_p_max === 0; else charging">Battery not discharging</ng-container>
          <ng-template #charging>Battery charging from grid</ng-template>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-flex ion-align-items-center gap-1">
        <ion-icon name="flash-outline" *ngIf="schedule.threshold_p_max > 0"></ion-icon>
        <ion-icon name="flash-off-outline" *ngIf="schedule.threshold_p_max === 0"></ion-icon>
        <div>
          <b>{{ schedule.threshold_p_max }}W</b>
        </div>
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ng-template>

  <ion-modal
    class="schedule-modal"
    [isOpen]="componentStore.showModal$ | async"
    [swipeToClose]="true"
    (didDismiss)="componentStore.toggleModal(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngIf="(componentStore.edit$ | async) === false">Add schedule</ion-title>
          <ion-title *ngIf="(componentStore.edit$ | async) === true">Edit schedule</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="componentStore.toggleModal(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-content>
            <div class="ion-flex ion-justify-content-between">
              <div>
                <p>Timespan</p>
                <h1>
                  <b>{{ componentStore.scheduleStart$ | async }} - {{ componentStore.scheduleStop$ | async }}</b>
                </h1>
              </div>
              <div>
                <p class="ion-text-end">Power</p>
                <h1>
                  <b>{{ componentStore.scheduleThreshold$ | async }}W</b>
                </h1>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <div class="ion-margin">
          <ion-text color="medium">
            Select a timespan and set the charge power for the battery. Setting it to 0W will prevent battery discharge.
          </ion-text>
        </div>

        <app-timespan [start]="start" [stop]="stop" (timespanChange)="timespanChange($event)"></app-timespan>

        <ion-range
          [min]="0"
          [max]="10000"
          [step]="250"
          [value]="threshold"
          (ionChange)="thresholdChange($event)"
          [pin]="true"
          [pinFormatter]="wattFormatter"
        >
          <ion-icon slot="start" color="primary" name="flash-outline"></ion-icon>
        </ion-range>

        <div class="ion-flex ion-justify-content-evenly ion-margin ion-padding-top">
          <ion-button class="flex-1" (click)="remove()" *ngIf="(componentStore.edit$ | async) === true" color="danger"
            >Remove</ion-button
          >
          <ion-button class="flex-1" (click)="save()" [disabled]="componentStore.unchanged$ | async">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
