.single-row {
  ion-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.sun {
  color: var(--ion-color-warning);
}

.device-info {
  img {
    width: 24px;
  }
}

hr {
  border-top: 1px solid var(--ion-color-medium);
}
