<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Operating mode-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Operating mode</ion-card-subtitle>
      <ion-card-title class="card-title" color="primary">{{
        componentStore.operatingMode$ | ngrxPush | om
      }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This can be changed by clicking the button below, which will also provide a brief description of each of the
        operating modes.
      </p>
      <ion-button class="ion-float-right ion-margin-vertical" (click)="toggleOperatingModeModal(true)"
        >Change</ion-button
      >
    </ion-card-content>
  </ion-card>

  <!--Dark mode-->
  <ion-card>
    <ion-card-content class="ion-flex ion-align-items-center">
      <ion-icon class="icon ion-margin-end" name="moon-outline"></ion-icon>
      <div class="flex-1">
        <p>Dark mode</p>
      </div>
      <ion-toggle (ionChange)="setDarkMode($event)" [checked]="componentStore.darkMode$ | ngrxPush"></ion-toggle>
    </ion-card-content>
  </ion-card>

  <!--Weather forecast charging-->
  <ion-card>
    <ion-card-content class="ion-flex ion-align-items-center">
      <ion-icon class="icon sun ion-margin-end" name="sunny"></ion-icon>
      <div class="flex-1">
        <p>Use weather forecast for charge management</p>
      </div>
      <ion-toggle
        class="forecast"
        (ionChange)="setPrognosisCharging($event)"
        [checked]="componentStore.prognosisCharging$ | ngrxPush"
      ></ion-toggle>
    </ion-card-content>
  </ion-card>

  <!--Device information-->
  <ion-card *ngrxLet="componentStore.device$ as device">
    <ion-card-content class="device-info ion-flex ion-align-items-center gap-2">
      <img src="assets/sonnen-ico.svg" class="svg-icon" alt="Sonnen device" />
      <div class="flex-1">
        <table class="key-value">
          <tr>
            <td>IP:</td>
            <td>
              <a href="http://{{ device?.lanIp }}" target="_blank">http://{{ device?.lanIp }}</a>
            </td>
          </tr>
          <tr>
            <td>S/N:</td>
            <td>{{ device?.serialNumber }}</td>
          </tr>
        </table>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button class="ion-margin" expand="block" color="danger" (click)="runWizard()">RESET AND RUN SETUP</ion-button>

  <!--  Operating mode modal-->
  <ion-modal
    [isOpen]="componentStore.showOperatingMode$ | ngrxPush"
    [canDismiss]="true"
    [presentingElement]="presentingElement"
    (didDismiss)="toggleOperatingModeModal(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Operating mode</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleOperatingModeModal(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-accordion-group *ngIf="componentStore.operatingMode$ | ngrxPush as currentMode" [value]="currentMode">
          <ion-accordion [value]="mode" *ngFor="let mode of operatingModes">
            <ion-item slot="header" color="light">
              <ion-label>{{ mode | om }}</ion-label>
              <ion-badge color="primary" *ngIf="mode === currentMode">Current</ion-badge>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ng-container [ngSwitch]="mode">
                <ng-container *ngSwitchCase="OperatingMode.TimeOfUse">
                  <p>
                    This mode is the recommended mode if you want the option to charge your battery from the grid during
                    periods with low electricity prices. It will prioritize power like this unless configured otherwise:
                  </p>
                  <ul>
                    <li>Cover the household loads</li>
                    <li>Charge the battery system</li>
                    <li>Export excess power to the grid</li>
                  </ul>
                  <ion-card>
                    <ion-card-content class="ion-flex ion-align-items-center gap-2">
                      <ion-icon class="icon" name="checkmark-done-circle-outline" color="success"></ion-icon>
                      <p>With this mode you can set schedules</p>
                    </ion-card-content>
                  </ion-card>
                </ng-container>
                <ng-container *ngSwitchCase="OperatingMode.Manual">
                  <p>Manual charging or discharging via API.</p>
                  <p>Manual charge/discharge can be reverted by setting mode to self consumption.</p>
                  <ng-container *ngTemplateOutlet="notSupported"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="OperatingMode.BatteryModuleExtension">
                  <ng-container *ngTemplateOutlet="notSupported"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="OperatingMode.SelfConsumption">
                  <p>
                    This is the automatic mode, which is almost the same as Time-Of-Use. It will prioritize power like
                    this:
                  </p>
                  <ul>
                    <li>Cover the household loads</li>
                    <li>Charge the battery system</li>
                    <li>Export excess power to the grid</li>
                  </ul>
                  <ng-container *ngTemplateOutlet="noScheduleWarning"></ng-container>
                </ng-container>
              </ng-container>

              <div
                class="ion-flex ion-justify-content-end"
                *ngIf="
                  mode !== currentMode && mode !== OperatingMode.Manual && mode !== OperatingMode.BatteryModuleExtension
                "
              >
                <ion-button (click)="setOperatingMode(mode)">Select</ion-button>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ng-template #noScheduleWarning>
  <ion-card>
    <ion-card-content class="ion-flex ion-align-items-center gap-2">
      <ion-icon class="icon" name="information-circle-outline" color="primary"></ion-icon>
      <p>This mode will not allow for any schedules to be set</p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #notSupported>
  <ion-card>
    <ion-card-content class="ion-flex ion-align-items-center gap-2">
      <ion-icon class="icon" name="warning-outline" color="warning"></ion-icon>
      <p>This mode is not supported yet</p>
    </ion-card-content>
  </ion-card>
</ng-template>
