<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="live">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Live</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge color="danger" *ngIf="showSchedulesCount$ | async">{{ (schedules$ | async).length }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
