.container {
  height: 100%;
  border-radius: 5px;
  padding: 1px;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: black;
  }

  @media (prefers-color-scheme: light) {
    border: 1px solid black;
    background-color: white;
  }

  .bar {
    height: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, green, yellow, red);

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }

    @media (prefers-color-scheme: light) {
      background-color: white;
    }

    .usage {
      height: 100%;
      float: right;
      transition: width 1s ease-out;

      @media (prefers-color-scheme: dark) {
        background-color: black;
      }

      @media (prefers-color-scheme: light) {
        background-color: white;
      }
    }
  }
}
