<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="findDevices()">Find devices</ion-button>
  <ion-button (click)="setToken()">Set token</ion-button>
  <ion-button (click)="getStatus()">Get status</ion-button>

  <h2>Device</h2>
  <pre>{{ device$ | async | json }}</pre>
  <h2>Status</h2>
  <pre>{{ status$ | async | json }}</pre>
</ion-content>
