<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Responses: {{ devices$ | async | json }}</p>
  <ng-container *ngFor="let device of devices$ | async">
    <p>LAN IP: {{ device.lanIp }}</p>
    <p>CA20: {{ device.ca20 }}</p>
    <p>Info: {{ device.info }}</p>
    <p>Serial number: {{ device.serialNumber }}</p>
  </ng-container>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
