<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="findDevices()">Find devices</ion-button>
  <ion-button (click)="setDevice()">Set device</ion-button>
  <ion-button (click)="setToken()">Set token</ion-button>
  <ion-button (click)="getStatus()">Get status</ion-button>
  <ion-button (click)="getLatestData()">Get data</ion-button>
  <ion-button (click)="getPowerMeter()">Get power</ion-button>

  <h2>Diller</h2>
  <pre>{{ diller$ | async | json }}</pre>

  <h2>Device state</h2>
  <pre>{{ deviceState$ | async | json }}</pre>

  <h2>Status error</h2>
  <pre>{{ statusError$ | async | json }}</pre>

  <h2>Device</h2>
  <pre>{{ device$ | async | json }}</pre>

  <h2>Status</h2>
  <pre>{{ status$ | async | json }}</pre>

  <h2>Latest data</h2>
  <pre>{{ latestData$ | async | json }}</pre>

  <h2>Power meter</h2>
  <pre>{{ powerMeter$ | async | json }}</pre>
</ion-content>
