<ion-content class="ion-content" [fullscreen]="true" [scrollY]="false">
  <swiper class="swiper" #swiper [allowTouchMove]="false">
    <!-- First slide -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div class="flex-1">
          <app-step-header icon="house.svg" title="Sonnen Buddy">
            This app will allow you to do realtime monitoring of your sonnenBatterie and make changes to its
            configuration
          </app-step-header>
          <p class="ion-padding-top">Let's get started</p>
        </div>
        <ion-button (click)="next()">Next</ion-button>
      </div>
    </ng-template>

    <!-- Find SonnenBatterie-->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <app-step-header icon="sonnen-wizard.svg" title="Find your sonnenBatterie">
            Sonnen Buddy will try and find the sonnenBatterie on your network.
          </app-step-header>
        </div>

        <div class="flex-1 ion-padding-top">
          <ion-button (click)="toggleFindHelp(true)">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="findDevice()" [disabled]="componentStore.loading$ | ngrxPush"
            >Find sonnenBatterie</ion-button
          >

          <ion-card
            class="ion-margin-top"
            *ngIf="
              (componentStore.loading$ | ngrxPush) ||
              (componentStore.device$ | ngrxPush) ||
              (componentStore.error$ | ngrxPush)
            "
          >
            <ion-card-content>
              <ion-spinner *ngIf="componentStore.loading$ | ngrxPush"></ion-spinner>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.device$ | ngrxPush as device"
                @enterFadeAnimation
              >
                <ion-icon class="icon" name="checkmark-sharp" color="success"></ion-icon>
                <p class="ion-text-left">
                  IP: <b>{{ device.lanIp }}</b
                  ><br />
                  Serial number: <b>{{ device.serialNumber }}</b>
                </p>
              </div>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.error$ | ngrxPush as error"
                @enterFadeAnimation
              >
                <ion-icon class="icon" name="alert-sharp" color="danger"></ion-icon>
                <p class="ion-text-left">There was an error<br />Please try again</p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <ion-button (click)="next()" [disabled]="componentStore.noDevice$ | ngrxPush">Next</ion-button>
      </div>
    </ng-template>

    <!-- Input ApiToken -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <app-step-header icon="lock-open-outline.svg" title="API token">
            Please provide the API token to communicate with your sonnenBatterie.
          </app-step-header>

          <ion-item>
            <ion-label position="floating">API Token</ion-label>
            <ion-input (ionChange)="updateToken($event)" value="{{ componentStore.apiToken$ | ngrxPush }}"></ion-input>
          </ion-item>
        </div>

        <div class="flex-1">
          <ion-button (click)="toggleTokenHelp(true)">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="testToken()" [disabled]="componentStore.apiTokenInvalid$ | ngrxPush"
            >Test token</ion-button
          >

          <ion-card
            *ngIf="
              (componentStore.loading$ | ngrxPush) ||
              (componentStore.apiTokenTested$ | ngrxPush) ||
              (componentStore.error$ | ngrxPush)
            "
            @enterFadeAnimation
          >
            <ion-card-content>
              <ion-spinner *ngIf="componentStore.loading$ | ngrxPush" @enterFadeAnimation></ion-spinner>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.apiTokenTested$ | ngrxPush"
                @enterFadeAnimation
              >
                <ion-icon class="icon" name="checkmark-sharp" color="success"></ion-icon>
                <p class="ion-text-left">
                  Inverter max power: <b>{{ componentStore.maxPower$ | ngrxPush }}W</b><br />
                  Module capacity: <b>{{ componentStore.batteryModuleCapacity$ | ngrxPush }}W</b><br />
                  Battery modules: <b>{{ componentStore.batteryQuantity$ | ngrxPush }}</b>
                </p>
              </div>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.error$ | ngrxPush as error"
              >
                <ion-icon class="icon" name="alert-sharp" color="danger"></ion-icon>
                <p class="ion-text-left">There was an error<br />Please try again</p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <ion-button (click)="next()" [disabled]="componentStore.apiTokenUntested$ | ngrxPush">Next</ion-button>
      </div>
    </ng-template>

    <!-- Input solar capacity -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <app-step-header icon="ph.svg" title="Max solar output">
            To calculate solar utilization, we need to know the max output of your system.
          </app-step-header>

          <ion-button (click)="toggleMaxSolarHelp(true)">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-button>
        </div>
        <div class="flex-1 ion-padding-top">
          <ion-item>
            <ion-label class="label half-width" position="fixed">Max solar output</ion-label>
            <ion-input
              type="number"
              placeholder="Watts"
              (ionChange)="updateSolarPowerOutput($event)"
              value="{{ componentStore.solarMaxPower$ | ngrxPush }}"
            ></ion-input>
          </ion-item>
          <h2>{{ componentStore.solarMaxPower$ | ngrxPush | kw }}</h2>
        </div>

        <ion-button (click)="finish()" [disabled]="(componentStore.solarMaxPower$ | ngrxPush) < 100">Finish</ion-button>
      </div>
    </ng-template>
  </swiper>

  <!--Find SonnenBatterie Help-->
  <ion-modal
    [isOpen]="componentStore.showFindHelp$ | ngrxPush"
    [canDismiss]="true"
    [presentingElement]="presentingElement"
    (didDismiss)="toggleFindHelp(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Help</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleFindHelp(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content [scrollY]="false">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="card-title" color="primary">Finding your sonnenBatterie</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Hopefully it's easily found, but in case you get errors, here's some help to try and troubleshoot.</p>
            <ul class="ion-text-left">
              <li>Check that you're on WIFI</li>
              <li>Check that you have access to the internet</li>
              <li>Check you're connected to the same network as the sonnenBatterie</li>
              <li>Check you don't have any VPN software running or blocking the local network access</li>
              <li>Check you have allowed this app to access the local network (you will be asked when trying)</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--Find ApiToken Help-->
  <ion-modal
    [isOpen]="componentStore.showTokenHelp$ | ngrxPush"
    [canDismiss]="true"
    [presentingElement]="presentingElement"
    (didDismiss)="toggleTokenHelp(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Help</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleTokenHelp(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content [scrollY]="false">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="card-title" color="primary">Find the API token</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Follow below steps to find your API token and give access to this app.</p>
            <ul class="ion-text-left">
              <li>
                Open a browser on this address:
                <ion-text color="primary">http://{{ componentStore.lanIp$ | ngrxPush }}</ion-text>
              </li>
              <li>
                Select <ion-text color="primary">User</ion-text> and try this password:
                <ion-text color="primary">sonnenUser3552</ion-text> (it might be different for your sonnenBatterie)
              </li>
              <li>Go to <ion-text color="primary">Software-Integration</ion-text></li>
              <li>
                Enable <ion-text color="primary">Read API</ion-text> and <ion-text color="primary">Write API</ion-text>
              </li>
              <li>Find the <ion-text color="primary">API token</ion-text> on the same page</li>
              <li>
                Close this help and type/paste the <ion-text color="primary">API token</ion-text> into the text box
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--Max Solar Output Help-->
  <ion-modal
    [isOpen]="componentStore.showMaxSolarHelp$ | ngrxPush"
    [canDismiss]="true"
    [presentingElement]="presentingElement"
    (didDismiss)="toggleMaxSolarHelp(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Help</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleMaxSolarHelp(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content [scrollY]="false">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="card-title" color="primary">Calculating max solar output</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              This can be calculated by multiplying the number of solar panels you have with the output per panel in
              Watts.
            </p>
            <p>
              E.g. you might have <ion-text color="primary">16 panels</ion-text> that each have an output of
              <ion-text color="primary">400W</ion-text> meaning: <ion-text color="primary">16 x 400W</ion-text> =
              <ion-text color="primary">6400W</ion-text> or <ion-text color="primary">6.4kW</ion-text>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
