<ion-content [fullscreen]="true" [scrollY]="false">
  <swiper class="swiper" #swiper [allowTouchMove]="false">
    <!-- START -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div class="flex-1">
          <div style="height: 100px">-APP LOGO HERE-</div>
          <h2>Sonnen Buddy</h2>
          <p>
            This app will allow you to do realtime monitoring of your sonnenBatterie and make changes to its
            configuration
          </p>
          <br />
          <p>Let's get started</p>
        </div>
        <ion-button (click)="next()">Next</ion-button>
      </div>
    </ng-template>

    <!-- FIND -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <div style="height: 100px">-SEARCH LOGO HERE-</div>
          <h2>Find your sonnenBatterie</h2>
          <p>Sonnen Buddy will try and find the sonnenBatterie on your network.</p>
        </div>

        <div class="flex-1">
          <ion-button (click)="toggleFindHelp(true)">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="findDevice()" [disabled]="componentStore.loading$ | async"
            >Find sonnenBatterie</ion-button
          >

          <ion-card
            class="ion-margin-top"
            *ngIf="
              (componentStore.loading$ | async) || (componentStore.device$ | async) || (componentStore.error$ | async)
            "
          >
            <ion-card-content>
              <ion-spinner *ngIf="componentStore.loading$ | async"></ion-spinner>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.device$ | async as device"
              >
                <img src="assets/sonnen.svg" class="svg-icon" alt="sonnenBatterie" />
                <p class="ion-text-left">
                  IP: <b>{{ device.lanIp }}</b
                  ><br />
                  Serial number: <b>{{ device.serialNumber }}</b>
                </p>
                <ion-icon class="icon" name="checkmark-sharp" color="success"></ion-icon>
              </div>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.error$ | async as error"
              >
                <img src="assets/sonnen.svg" class="svg-icon" alt="sonnenBatterie" />
                <p>There was an error<br />Please try again</p>
                <ion-icon class="icon" name="alert-sharp" color="danger"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <ion-button (click)="next()" [disabled]="componentStore.noDevice$ | async">Next</ion-button>
      </div>
    </ng-template>

    <!-- TOKEN -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <div style="height: 100px">-TOKEN LOGO HERE-</div>
          <h2>API token</h2>
          <p>Please provide the API token to communicate with your sonnenBatterie.</p>
          <ion-item>
            <ion-label position="floating">API Token</ion-label>
            <ion-input (ionChange)="updateToken($event)" value="5cb9e400-dac7-4211-942d-c03eeaaed186"></ion-input>
          </ion-item>
        </div>

        <div class="flex-1">
          <ion-button (click)="toggleTokenHelp(true)">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="testToken()" [disabled]="componentStore.apiTokenInvalid$ | async">Test token</ion-button>

          <ion-card
            *ngIf="
              (componentStore.loading$ | async) ||
              (componentStore.apiTokenTested$ | async) ||
              (componentStore.error$ | async)
            "
          >
            <ion-card-content>
              <ion-spinner *ngIf="componentStore.loading$ | async"></ion-spinner>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.apiTokenTested$ | async"
              >
                <p class="ion-text-left">
                  Inverter max power: <b>{{ componentStore.maxPower$ | async }}W</b><br />
                  Module capacity: <b>{{ componentStore.batteryModuleCapacity$ | async }}W</b><br />
                  Battery modules: <b>{{ componentStore.batteryQuantity$ | async }}</b>
                </p>
                <ion-icon class="icon" name="checkmark-sharp" color="success"></ion-icon>
              </div>

              <div
                class="ion-flex ion-align-items-center ion-justify-content-center gap-2"
                *ngIf="componentStore.error$ | async as error"
              >
                <img src="assets/sonnen.svg" class="svg-icon" alt="sonnenBatterie" />
                <p>There was an error<br />Please try again</p>
                <ion-icon class="icon" name="alert-sharp" color="danger"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <ion-button (click)="next()" [disabled]="componentStore.apiTokenUntested$ | async">Next</ion-button>
      </div>
    </ng-template>

    <!-- SOLAR OUTPUT -->
    <ng-template swiperSlide>
      <div class="step ion-flex ion-flex-column ion-justify-content-start">
        <div>
          <div style="height: 100px">-SOLAR LOGO HERE-</div>
          <h2>Solar capacity</h2>
          <p>Please input how many panels you have and the output of a single panel.</p>
        </div>
        <div class="flex-1">
          <ion-item>
            <ion-label class="label half-width" position="fixed">Panel quantity</ion-label>
            <ion-input
              type="number"
              placeholder="Enter quantity"
              (ionChange)="updatePanelQuantity($event)"
              [step]="1"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label half-width" position="fixed">Power per panel</ion-label>
            <ion-input
              type="number"
              placeholder="Watts"
              (ionChange)="updatePanelPowerOutput($event)"
              [step]="5"
            ></ion-input>
          </ion-item>
          <h2>Capacity: {{ componentStore.panelTotalCapacity$ | async | kw }}</h2>
        </div>

        <ion-button (click)="finish()" [disabled]="(componentStore.panelTotalCapacity$ | async) < 100"
          >Finish</ion-button
        >
      </div>
    </ng-template>
  </swiper>

  <ion-modal [isOpen]="componentStore.showFindHelp$ | async" [swipeToClose]="true" (didDismiss)="toggleFindHelp(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Help</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleFindHelp(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [scrollY]="false">
        <h2>Finding your sonnenBatterie</h2>
        <p>Hopefully it's easily found, but in case you get errors, here's some help to try and troubleshoot.</p>
        <ul class="ion-text-left">
          <li>Check that you're on WIFI</li>
          <li>Check that you have access to the internet</li>
          <li>Check you're connected to the same network as the sonnenBatterie</li>
          <li>Check you don't have any VPN software running or blocking the local network access</li>
          <li>Check you have allowed this app to access the local network (you will be asked when trying)</li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
    [isOpen]="componentStore.showTokenHelp$ | async"
    [swipeToClose]="true"
    (didDismiss)="toggleTokenHelp(false)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Help</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleTokenHelp(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [scrollY]="false">
        <h2>How to find the API token</h2>
        <p>Follow below steps to find your API token and give access to this app.</p>
        <ul class="ion-text-left">
          <li>
            Open a browser on this address: <b>http://{{ componentStore.lanIp$ | async }}</b>
          </li>
          <li>
            Select <b>User</b> and try this password: <b>sonnenUser3552</b> (it might be different for your
            sonnenBatterie)
          </li>
          <li>Go to Software-Integration and enable <b>Read API</b> and <b>Write API</b></li>
          <li>Find the <b>API token</b> on the same page</li>
          <li>Close this help and type the <b>API token</b> into the text box</li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
