.battery {
  height: 50px;
  width: 30px;

  .tip {
    height: 3px;
    width: 10px;
    margin: auto;
    background-color: var(--sb-background-color-inverted);
  }

  .container {
    padding: 1px;
    border-radius: 5px;
    height: 100%;

    border: 1px solid var(--sb-border-color);
    background-color: var(--sb-background-color);

    .bar {
      height: 100%;
      border-radius: 3px;
      background-color: green;

      .usage {
        float: top;
        transition: height 1000ms ease-out;
        background-color: var(--sb-background-color);
      }
    }
  }
}
