<div
  class="power s{{ sideCount }}"
  [class.left]="left"
  [class.right]="right"
  [class.top]="top"
  [class.bottom]="bottom"
  [class.active]="direction !== Direction.None"
  [class.cc]="direction === Direction.CounterClockwise"
>
  <ng-container *ngIf="direction !== Direction.None">
    <span class="horizontal top" *ngIf="top"></span>
    <span class="vertical right" *ngIf="right"></span>
    <span class="horizontal bottom" *ngIf="bottom"></span>
    <span class="vertical left" *ngIf="left"></span>
  </ng-container>
</div>
