.live-view {
  font-size: 0.8em;
}

ion-grid,
ion-row,
ion-col {
  //border: 1px solid pink;
}

.flow {
  position: absolute;
  top: 100px;
  height: 90px;
  z-index: 0;

  &.solar-to-battery {
    left: 50%;
    width: calc(100% - 10px);
  }

  &.solar-to-inverter {
    left: 155%;
    width: calc(100% - 30px);
  }

  &.battery-and-inverter {
    left: 50%;
    top: 120px;
    width: calc(200% - 24px);
  }

  &.inverter-and-grid {
    right: calc(50% - 10px);
    top: 245px;
    width: 3px;
    height: 140px;
  }

  &.inverter-to-home {
    right: calc(50% + 10px);
    top: 245px;
    width: calc(100% - 27px);
    height: 100px;
  }

  &.grid-to-home {
    right: calc(50% + 10px);
    top: 355px;
    width: calc(100% - 27px);
    height: 30px;
  }
}

.utilization-bar {
  height: 16px;
  display: block;
  width: 50%;
  min-width: 50px;
}

.box {
  border: 2px solid var(--sb-border-color);
  height: 200px;
}

.power-1 {
  height: 100px;
  width: 100px;
  display: block;
}

img {
  width: 50px;
  height: 50px;
}

.utilization {
  height: 30px;
  display: block;
}
