<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-title>Live</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Live</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="live-view ion-margin-horizontal">
    <ion-row>
      <ion-col class="relative">
        <app-power-square
          class="flow solar-to-battery"
          right="true"
          bottom="true"
          [direction]="facade.vm.solarToBattery$ | ngrxPush"
        ></app-power-square>
        <app-power-square
          class="flow solar-to-inverter"
          left="true"
          bottom="true"
          [direction]="facade.vm.solarToInverter$ | ngrxPush"
        ></app-power-square>
        <app-power-square
          class="flow battery-and-inverter"
          bottom="true"
          [direction]="facade.vm.batteryAndInverter$ | ngrxPush"
        ></app-power-square>
      </ion-col>
      <ion-col>
        <div class="ion-flex ion-flex-column ion-align-items-center gap-1">
          <app-utilization class="utilization-bar" [percent]="solarUtilization$ | ngrxPush"></app-utilization>
          <img src="assets/ph.svg" class="svg-icon solar" alt="Solar" />
          <div class="solar-production kw">
            {{ solarProduction$ | ngrxPush | kw }}
          </div>
        </div>
      </ion-col>
      <ion-col>
        <app-power-square
          class="flow inverter-and-grid"
          left="true"
          [direction]="facade.vm.inverterAndGrid$ | ngrxPush"
        ></app-power-square>
        <app-power-square
          class="flow inverter-to-home"
          right="true"
          bottom="true"
          [direction]="facade.vm.inverterToHome$ | ngrxPush"
        ></app-power-square>
        <app-power-square
          class="flow grid-to-home"
          top="true"
          right="true"
          [direction]="facade.vm.gridToHome$ | ngrxPush"
        ></app-power-square>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col class="ion-flex ion-flex-column ion-align-items-center ion-justify-content-center gap-1">
        <app-utilization class="utilization-bar" [percent]="batteryUtilization$ | ngrxPush"></app-utilization>
        <app-battery class="battery" [percent]="batteryCharge$ | ngrxPush"></app-battery>
        <div class="kw">{{ batteryCharge$ | ngrxPush }}%</div>
        <div class="kw">
          {{ batteryUsage$ | ngrxPush | kw }}
        </div>
        <!--          <div>{{ batteryRemaining$ | ngrxPush | kw }}h</div>-->
      </ion-col>
      <ion-col class="ion-flex ion-flex-column ion-align-items-center ion-justify-content-end">
        <img src="assets/sonnen-logo.svg" class="svg-icon logo ion-margin-bottom" alt="Logo" />
      </ion-col>
      <ion-col class="ion-flex ion-flex-column ion-align-items-center ion-justify-content-center gap-1">
        <app-utilization class="utilization-bar" [percent]="inverterUtilization$ | ngrxPush"></app-utilization>
        <img src="assets/sonnen.svg" class="svg-icon inverter" alt="Inverter" />
        <div class="kw">
          {{ inverterUsage$ | ngrxPush | kw }}
        </div>
        <div>&nbsp;<!--Intentionally here and blank for flex--></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-flex ion-flex-column ion-align-items-center gap-1">
        <img src="assets/house.svg" class="svg-icon home" alt="Home" />
        <div class="kw">
          {{ houseConsumption$ | ngrxPush | kw }}
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="information" size="8">
        <table class="key-value">
          <tr>
            <td><ion-text color="medium">Data delay:</ion-text></td>
            <td>
              <div class="ion-flex ion-align-items-center ion-justify-content-end gap-05">
                <ion-icon [color]="delayColor$ | ngrxPush" [name]="delayIcon$ | ngrxPush"></ion-icon>
                <ion-text [color]="delayColor$ | ngrxPush">{{ delayText$ | ngrxPush }}</ion-text>
              </div>
            </td>
          </tr>
          <tr>
            <td><ion-text color="medium">Usable charge:</ion-text></td>
            <td>{{ batteryRemaining$ | ngrxPush | kw }}h</td>
          </tr>

          <tr *ngIf="batteryCharging$ | ngrxPush">
            <td><ion-text color="medium">Battery full:</ion-text></td>
            <td>{{ batteryChargingTime$ | ngrxPush }}</td>
          </tr>
          <tr *ngIf="batteryDischarging$ | ngrxPush">
            <td><ion-text color="medium">Battery empty:</ion-text></td>
            <td>{{ batteryDischargingTime$ | ngrxPush }}</td>
          </tr>
        </table>
      </ion-col>
      <ion-col class="ion-flex ion-flex-column ion-align-items-center gap-1">
        <img src="assets/grid.svg" class="svg-icon grid" alt="Grid" />
        <div class="kw">
          {{ gridFeedIn$ | ngrxPush | kw }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--      &lt;!&ndash;      <app-power-square&ndash;&gt;-->
  <!--      &lt;!&ndash;        class="power-1"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [right]="true"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [bottom]="true"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [direction]="facade.vm.solarToBattery$ | async"&ndash;&gt;-->
  <!--      &lt;!&ndash;      ></app-power-square>&ndash;&gt;-->
  <!--      &lt;!&ndash;      <app-power-square&ndash;&gt;-->
  <!--      &lt;!&ndash;        class="power-1"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [left]="true"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [bottom]="true"&ndash;&gt;-->
  <!--      &lt;!&ndash;        [direction]="facade.vm.solarToInverter$ | async"&ndash;&gt;-->
  <!--      &lt;!&ndash;      ></app-power-square>&ndash;&gt;-->

  <!--  <div class="ion-flex ion-flex-column ion-align-items-center gap-2">-->
  <!--    <div class="ion-flex">-->
  <!--      <img src="assets/ph.svg" class="svg-icon" alt="Solar" />-->
  <!--      <div class="ion-padding-horizontal">-->
  <!--        <app-utilization class="utilization" [percent]="solarUtilization$ | async"></app-utilization>-->
  <!--        <div>Utilization: {{ solarUtilization$ | async | number : "1.0-0" }} %</div>-->
  <!--        <div>Capacity: {{ solarCapacity$ | async | kw }}</div>-->
  <!--        <div>Production: {{ solarProduction$ | async | kw }}</div>-->
  <!--        <div>Solar to battery: {{ solarToBattery$ | async }}</div>-->
  <!--        <div>Solar to inverter: {{ solarToInverter$ | async }}</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="ion-flex">-->
  <!--      <app-battery class="battery" [percent]="batteryCharge$ | async"></app-battery>-->
  <!--      <div class="ion-padding-horizontal">-->
  <!--        <app-utilization class="utilization" [percent]="batteryUtilization$ | async"></app-utilization>-->
  <!--        <div>Utilization: {{ batteryUtilization$ | async | number : "1.0-0" }} %</div>-->
  <!--        <div>Usage: {{ batteryUsage$ | async | kw }}</div>-->
  <!--        <div>Charge: {{ batteryCharge$ | async }}% / {{ batteryRemaining$ | async | kw }}h</div>-->
  <!--        <div *ngIf="batteryCharging$ | async">Charging time: {{ batteryChargingTime$ | async }}</div>-->
  <!--        <div *ngIf="batteryDischarging$ | async">Discharge time: {{ batteryDischargingTime$ | async }}</div>-->
  <!--        <div>Battery to inverter: {{ batteryToInverter$ | async }}</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="ion-flex">-->
  <!--      <img src="assets/sonnen.svg" class="svg-icon" alt="Inverter" />-->
  <!--      <div class="ion-padding-horizontal">-->
  <!--        <app-utilization class="utilization" [percent]="inverterUtilization$ | async"></app-utilization>-->
  <!--        <div>Utilization: {{ inverterUtilization$ | async | number : "1.0-0" }} %</div>-->
  <!--        <div>Usage: {{ inverterUsage$ | async | kw }}</div>-->
  <!--        <div>Inverter to battery: {{ inverterToBattery$ | async }}</div>-->
  <!--        <div>Inverter to house: {{ inverterToHome$ | async }}</div>-->
  <!--        <div>Inverter to grid: {{ inverterToGrid$ | async }}</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="ion-flex">-->
  <!--      <img src="assets/house.svg" class="svg-icon" alt="Home" />-->
  <!--      <div class="ion-padding-horizontal">-->
  <!--        <div>Consumption: {{ houseConsumption$ | async | kw }}</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="ion-flex">-->
  <!--      <img src="assets/grid.svg" class="svg-icon" alt="Grid" />-->
  <!--      <div class="ion-padding-horizontal">-->
  <!--        <div>Grid feed in: {{ gridFeedIn$ | async | kw }}</div>-->
  <!--        <div>Grid to house: {{ gridToHome$ | async }}</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <ion-button (click)="findDevices()">Find sonnen-batterie</ion-button>-->
  <!--  <ion-button (click)="setToken()">Set token</ion-button>-->
  <!--  <ion-button (click)="setPanelCapacity(6000)">Set 6 kW</ion-button>-->
  <!--  <ion-button (click)="getStatus()">Get status</ion-button>-->
  <!--  <ion-button (click)="getLatestData()">Get data</ion-button>-->
  <!--  <ion-button (click)="getPowerMeter()">Get power</ion-button>-->
  <!--  <ion-button (click)="getInverterMaxPower()">Get inverter max</ion-button>-->
  <!--  <ion-button (click)="getBatteryQuantity()">Get battery quantity</ion-button>-->
  <!--  <ion-button (click)="getBatteryModuleCapacity()">Get battery capacity</ion-button>-->

  <!--  <h2>Device</h2>-->
  <!--  <pre>{{ device$ | async | json }}</pre>-->

  <!--  <h2>Status</h2>-->
  <!--  <pre>{{ status$ | async | json }}</pre>-->

  <!--  <h2>Latest data</h2>-->
  <!--  <pre>{{ latestData$ | async | json }}</pre>-->

  <!--  <h2>Power meter</h2>-->
  <!--  <pre>{{ powerMeter$ | async | json }}</pre>-->
</ion-content>
