<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="live-view" fxLayout="column" fxLayoutAlign="start center">
      <div class="utilization-wrapper" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
        <app-utilization class="utilization-bar" [percent]="solarUtilization$ | async"></app-utilization>
        <img src="assets/ph.svg" class="flow-item" alt="Solar" />
        <div>{{ solarProduction$ | async | kw }}</div>
      </div>
      <div class="sonnen-box" fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
          <div class="utilization-wrapper" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
            <app-utilization class="utilization-bar" [percent]="batteryUtilization$ | async"></app-utilization>
            <app-battery class="battery" [percent]="batteryCharge$ | async"></app-battery>
            <div>{{ batteryCharge$ | async }}%</div>
            <div>{{ batteryUsage$ | async | kw }}</div>
            <!--<div>{{ batteryRemaining$ | async | kw }}h</div>-->
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end center" fxFlex>
          <img src="assets/sonnen-logo.svg" class="svg-icon logo" alt="Logo" />
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
          <div class="utilization-wrapper" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
            <app-utilization class="utilization-bar" [percent]="inverterUtilization$ | async"></app-utilization>
            <img src="assets/sonnen.svg" class="svg-icon inverter" alt="Inverter" />
            <div>{{ inverterUsage$ | async | kw }}</div>
          </div>
        </div>
      </div>
      <div class="consume-box" fxLayout="row">
        <div fxFlex></div>
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
          <img src="assets/house.svg" class="svg-icon" alt="Home" />
          <div>{{ houseConsumption$ | async | kw }}</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
          <img src="assets/grid.svg" class="svg-icon grid" alt="Grid" />
          <div>{{ gridFeedIn$ | async | kw }}</div>
        </div>
      </div>

      <!--      <app-power-square-->
      <!--        class="power-1"-->
      <!--        [right]="true"-->
      <!--        [bottom]="true"-->
      <!--        [direction]="facade.vm.solarToBattery$ | async"-->
      <!--      ></app-power-square>-->
      <!--      <app-power-square-->
      <!--        class="power-1"-->
      <!--        [left]="true"-->
      <!--        [bottom]="true"-->
      <!--        [direction]="facade.vm.solarToInverter$ | async"-->
      <!--      ></app-power-square>-->
    </div>
  </div>

  <div class="ion-padding">
    <div class="ion-padding" fxLayout="row">
      <img src="assets/ph.svg" class="flow-item" alt="Solar" />
      <div class="ion-padding" fxFlex>
        <app-utilization class="utilization" [percent]="solarUtilization$ | async"></app-utilization>
        <div>Utilization: {{ solarUtilization$ | async | number: "1.0-0" }} %</div>
        <div>Capacity: {{ solarCapacity$ | async | kw }}</div>
        <div>Production: {{ solarProduction$ | async | kw }}</div>
        <div>Solar to battery: {{ solarToBattery$ | async }}</div>
        <div>Solar to inverter: {{ solarToInverter$ | async }}</div>
      </div>
    </div>
    <div class="ion-padding" fxLayout="row">
      <app-battery class="battery" [percent]="batteryCharge$ | async"></app-battery>
      <div class="ion-padding" fxFlex>
        <app-utilization class="utilization" [percent]="batteryUtilization$ | async"></app-utilization>
        <div>Utilization: {{ batteryUtilization$ | async | number: "1.0-0" }} %</div>
        <div>Usage: {{ batteryUsage$ | async | kw }}</div>
        <div>Charge: {{ batteryCharge$ | async }}% / {{ batteryRemaining$ | async | kw }}h</div>
        <div *ngIf="batteryCharging$ | async">Charging time: {{ batteryChargingTime$ | async }}</div>
        <div *ngIf="batteryDischarging$ | async">Discharge time: {{ batteryDischargingTime$ | async }}</div>
        <div>Battery to inverter: {{ batteryToInverter$ | async }}</div>
      </div>
    </div>
    <div class="ion-padding" fxLayout="row">
      <img src="assets/sonnen.svg" class="flow-item" alt="Inverter" />
      <div class="ion-padding" fxFlex>
        <app-utilization class="utilization" [percent]="inverterUtilization$ | async"></app-utilization>
        <div>Utilization: {{ inverterUtilization$ | async | number: "1.0-0" }} %</div>
        <div>Usage: {{ inverterUsage$ | async | kw }}</div>
        <div>Inverter to battery: {{ inverterToBattery$ | async }}</div>
        <div>Inverter to house: {{ inverterToHouse$ | async }}</div>
        <div>Inverter to grid: {{ inverterToGrid$ | async }}</div>
      </div>
    </div>
    <div class="ion-padding" fxLayout="row">
      <img src="assets/house.svg" class="flow-item" alt="Home" />
      <div class="ion-padding" fxFlex>
        <div>Consumption: {{ houseConsumption$ | async | kw }}</div>
      </div>
    </div>
    <div class="ion-padding" fxLayout="row">
      <img src="assets/grid.svg" class="flow-item" alt="Grid" />
      <div class="ion-padding" fxFlex>
        <div>Grid feed in: {{ gridFeedIn$ | async | kw }}</div>
        <div>Grid to house: {{ gridToHouse$ | async }}</div>
      </div>
    </div>
  </div>

  <ion-button (click)="findDevices()">Find devices</ion-button>
  <ion-button (click)="setToken()">Set token</ion-button>
  <ion-button (click)="setPanelCapacity(6000)">Set 6 kW</ion-button>
  <ion-button (click)="getStatus()">Get status</ion-button>
  <ion-button (click)="getLatestData()">Get data</ion-button>
  <ion-button (click)="getPowerMeter()">Get power</ion-button>
  <ion-button (click)="getInverterMaxPower()">Get inverter max</ion-button>
  <ion-button (click)="getBatteryQuantity()">Get battery quantity</ion-button>
  <ion-button (click)="getBatteryModuleCapacity()">Get battery capacity</ion-button>

  <h2>Device</h2>
  <pre>{{ device$ | async | json }}</pre>

  <h2>Status</h2>
  <pre>{{ status$ | async | json }}</pre>

  <h2>Latest data</h2>
  <pre>{{ latestData$ | async | json }}</pre>

  <h2>Power meter</h2>
  <pre>{{ powerMeter$ | async | json }}</pre>
</ion-content>
