.live-view {
  font-size: 0.8em;
}

.flow {
  position: absolute;
  top: 96px;
  height: 94px;
  z-index: 0;

  &.solar-to-battery {
    left: 55%;
    width: calc(100% - 10px);
  }

  &.solar-to-inverter {
    left: 155%;
    width: calc(100% - 24px);
  }

  &.battery-and-inverter {
    left: 50%;
    top: 109px;
    width: calc(200% - 18px);
  }

  &.inverter-and-grid {
    right: calc(50% - 9px);
    top: 245px;
    width: 3px;
    height: 159px;
  }

  &.inverter-to-home {
    right: calc(50% + 6px);
    top: 245px;
    width: calc(100% - 23px);
    height: 100px;
  }

  &.grid-to-home {
    right: calc(50% + 6px);
    top: 355px;
    width: calc(100% - 23px);
    height: 49px;
  }
}

.solar-production {
  margin-top: -8px;
  margin-bottom: 8px;
}

.utilization-bar {
  height: 16px;
  display: block;
  width: 50%;
  min-width: 50px;
}

.information {
  margin-top: 20px;
  line-height: 20px;
}

.box {
  border: 2px solid var(--sb-border-color);
  height: 200px;
}

.power-1 {
  height: 100px;
  width: 100px;
  display: block;
}

img {
  //width: 50px;
  height: 50px;
  &.solar {
    width: 50px;
  }
  &.inverter {
    //margin-top: 2px;
  }
  &.home {
    width: 50px;
    margin-top: 5px;
  }
  &.grid {
  }
}

.utilization {
  height: 30px;
  display: block;
}
